body {
  background: linear-gradient(90deg, rgba(58,6,102,1) 0%, rgba(64,9,121,1) 15%, rgba(191,151,198,1) 94%, rgba(184,130,204,1) 100%);
  font-family: 'Trispace', sans-serif;
}
.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.title {
  text-align: center;
  color: white;
}