.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.title {
  text-align: center;
  color: #fff;
}

.field {
  margin: 5px 0 5px 0;
  padding: 5px;
}

.btn {
  font-family: 'Trispace', sans-serif;
  margin: 10px 10px 50px 20px;
  padding: 5px;
  color: #ffffff;
  background-color: #6224ce;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
}