.text {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.subtext {
  display: flex;
  justify-content: flex-start;
  color: #a4dccd;
  cursor: pointer;
  font-weight: bold;
}

.navlink {
  text-decoration: none;
  color: white;
  font-size: 18px;
}